#h1-title-text {
    font-family: 'Iceland', cursive;    
    text-align: center;
}

.center-text {
    text-align: center;
}

.gif {
    border: solid black 1px;
    margin-bottom: 10px;
    margin-right: 30px;
    float: left;
    /* margin: none; */
}

.gif-div {
    /* display: inline-block; */
    float: left;
    margin-top: 15px;
}

#rating {
    font-family: 'Anaheim', sans-serif;
    font-weight: bold;
    margin-bottom: -2px;
}

.col-6 {
   border-bottom: solid black 1px;
}

.cities {
    background-color: gray;
    border-radius: 4px;
    font-family: 'Iceland', cursive;   
    color: white;
    font-size: 14pt;
    margin-top: 18px;  
}

#city-input {
    margin: 40px 0 0 15px;
}

#choose-city {
    border-bottom: solid black 2px;
    height: 140px;
    width: 215px;
    margin-top: 20px;
}
#submit-city {
    margin: 10px 0 0 20px;

}